<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Mail MiriadaX</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <style>
            #rrss a:focus, #rss a:visited, #rsss a:active, #rrss a:hover{
                color: #fff;
            }
        </style>
    </head>
    <body style="font-family: Arial, sans-serif; font-size: 15px; color: #646464;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align: center; background: #eee;">
            <tr> 
                <td>
                    <table  border="0" cellpadding="0" cellspacing="0" style="width: 570px; overflow: hidden; margin: 0 auto; text-align: left; max-width: 570px;" >
                        <!-- Header -->
                        <tr> 
                            <td>                
                                <table width="100%" class="header" cellpadding="0" cellspacing="0" border="0" style="padding: 0 0 20px; border-radius:4px; overflow:hidden; width: 100%;"> 
                                    <tr>
                                        <td style="float: left;">
                                            <a href="https://miriadax.net/" style="float: left;">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220201417_logo.png" style="width: auto; height: 50px;"/>
                                            </a>
                                        </td>
                                        <td style="text-align: right;">
                                            <a href="#" style=" font-weight:200 !important;color:#aaa;text-decoration:none;">Ver en el explorador</a>
                                        </td>
                                    </tr>
                                </table>   
                            </td>
                        </tr>
                        <!-- Destacado 1 -->
                        <tr>
                            <td>
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;" align="center" style=""> 
                                    <tr>
                                        <td style="padding: 0 0 30px; margin: 0; width: 100%;">
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank" style="display: block; width: 100%; height: auto;">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202010_destacado.png" alt="" border="0" style="margin: 0; padding: 0; height: auto; border: 0; width: 100%; display: block;" />
                                            </a>   
                                        </td>
                                    </tr>                                 
                                    <tr>
                                        <td style="padding: 0 60px 30px; text-align: center; font-family: Arial, sans-serif; font-weight: bold; font-size: 15px; margin: 0" >
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" style="text-decoration: none; color:#646464;"><h2 style="margin: 0; padding: 0; line-height: 1;"> Aprende a desarrollar aplicaciones móviles lorem ipsum del rei</h2></a>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td style="padding: 0 30px 30px; margin: 0;text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464; border-radius: 5px;" >
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex.</p>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 30px;">
                                            <table width="20%" style="text-align: center; border-radius: 5px; margin: 0 auto;">
                                                <tr>
                                                    <td style="font-size: 14px;font-weight: 600;background: #00b5cc;padding:15px 25px;-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;">
                                                        <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank" style="color:#fff;">INSCRÍBETE</a>
                                                    </td>
                                                </tr>
                                            </table>                                           
                                        </td>                                       
                                    </tr>                                                         
                                </table>                                  
                            </td>
                        </tr> 
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>  
                        <!-- Capa 2 -->
                        <tr>
                            <td>
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"> 
                                    <tr>
                                        <td style="padding: 0 0 30px; margin: 0;">
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202008_astronomia1.png" alt="" border="0" style="margin: 0; padding: 0; height: auto; border: 0; overflow: hidden; width: 100%;" />
                                            </a>   
                                        </td>
                                    </tr>                                 
                                    <tr>
                                        <td style="padding: 0 70px 5px; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td style="padding: 0 30px 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 3px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 30px;">
                                            <table width="20%" ellpadding="0" cellspacing="0" border="0" style="text-align: center; margin: 0 auto;">
                                                <tr>
                                                    <td style="font-size: 14px;font-weight: 600;background: #00b5cc;padding:15px 25px;border-radius: 5px;">
                                                        <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank" style="color:#fff;">INSCRÍBETE</a>
                                                    </td>
                                                </tr>
                                            </table>                                           
                                        </td>                                       
                                    </tr>                                                         
                                </table>                                  
                            </td>
                        </tr>  
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>  
                        <!-- Capa 3 -->
                        <tr>
                            <td style="padding: 30px 0; background: white;">
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"> 
                                    <tr>
                                        <td style="padding: 0 70px 20px; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <h2 style="font-weight: bold; margin: 0; padding: 0; color: black;">Cursos recomendados</h2>
                                        </td>
                                    </tr>   
                                </table>                             
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden;"> 
                                    <tr>
                                        <td style="padding: 0 70px 0; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="padding: 0 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 5px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                            <hr style="width: 94%; margin: 20px 3%; padding: 10px 0 0; border: 0; border-bottom: 1px solid #eee;">
                                        </td>
                                    </tr>  
                                </table>                                   
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden;"> 
                                    <tr>
                                        <td style="padding: 0 70px 0; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="padding: 0 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 5px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                            <hr style="width: 94%; margin: 20px 3%; padding: 10px 0 0; border: 0; border-bottom: 1px solid #eee;">
                                        </td>
                                    </tr>  
                                </table>    
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden;"> 
                                    <tr>
                                        <td style="padding: 0 70px 0; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="padding: 0 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 5px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                            <hr style="width: 94%; margin: 20px 3%; padding: 10px 0 0; border: 0; border-bottom: 1px solid #eee;">
                                        </td>
                                    </tr>  
                                </table>   
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden;"> 
                                    <tr>
                                        <td style="padding: 0 70px 0; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="padding: 0 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 5px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                        </td>
                                    </tr>  
                                </table>                                                                                                  
                            </td>
                        </tr>  
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>   
                        <!-- Capa 4 -->
                        <tr>
                            <td>
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"> 
                                    <tr>
                                        <td style="padding: 0 0 30px; margin: 0;">
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank" style="">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202009_astronomia2.png" alt="" border="0" style="margin: 0; padding: 0; height: auto; border: 0; overflow: hidden; width: 100%;" />
                                            </a>   
                                        </td>
                                    </tr>                                 
                                    <tr>
                                        <td style="padding: 0 70px 5px; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td style="padding: 0 30px 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 3px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 30px;">
                                            <table width="20%" ellpadding="0" cellspacing="0" border="0" style="text-align: center; margin: 0 auto;">
                                                <tr>
                                                    <td style="font-size: 14px;font-weight: 600;background: #00b5cc;padding:15px 25px;border-radius: 5px;">
                                                        <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank" style="color:#fff;">INSCRÍBETE</a>
                                                    </td>
                                                </tr>
                                            </table>                                           
                                        </td>                                       
                                    </tr>                                                         
                                </table>                                  
                            </td>
                        </tr>    
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>   
                      <!-- Capa 5 -->
                        <tr>
                            <td>
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"> 
                                    <tr>
                                        <td style="padding: 0 0 30px; margin: 0;">
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202009_astronomia3.png" alt="" border="0" style="margin: 0; padding: 0; height: auto; border: 0; overflow: hidden; width: 100%;" />
                                            </a>   
                                        </td>
                                    </tr>                                 
                                    <tr>
                                        <td style="padding: 0 70px 5px; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td style="padding: 0 30px 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 3px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                        </td>
                                    </tr>   
                                    <tr>
                                        <td style="text-align: center; padding-bottom: 30px;">
                                            <table width="20%" ellpadding="0" cellspacing="0" border="0" style="text-align: center; margin: 0 auto;">
                                                <tr>
                                                    <td style="font-size: 14px;font-weight: 600;background: #00b5cc;padding:15px 25px;border-radius: 5px;">
                                                        <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank" style="color:#fff;">INSCRÍBETE</a>
                                                    </td>
                                                </tr>
                                            </table>                                           
                                        </td>                                       
                                    </tr>                                                         
                                </table>                                  
                            </td>
                        </tr>    
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr> 
                      <!-- Capa 5 -->
                        <tr>
                            <td>
                                <table  cellpadding="0" cellspacing="0" border="0" width="100%"  style="width: 100%;padding: 0; margin: 0 auto; background: #fff; overflow: hidden; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;"> 
                                    <tr>
                                        <td style="padding: 0 0 30px; margin: 0;">
                                            <a href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202010_astronomia4.png" alt="" border="0" style="margin: 0; padding: 0; height: auto; border: 0; overflow: hidden; width: 100%;" />
                                            </a>   
                                        </td>
                                    </tr>                                 
                                    <tr>
                                        <td style="padding: 0 70px 5px; text-align: center; font-family: Arial, sans-serif; font-weight: normal; font-size: 15px;" >
                                            <a style="text-decoration: none; color:#646464;" href="https://miriadax.net/web/technical-drawing-for-mechanical-engineering-dibujo-tecnico-para-ingenieria-mecanica-/inicio" target="_blank"><h2 style="font-weight: normal; margin: 0; padding: 0;">Desentrañar el firmamento - Introducción a la Astronomía (3ra Edición)</h2></a>
                                        </td>
                                    </tr> 
                                    <tr>
                                        <td style="padding: 0 30px 30px; text-align: center; font-family: Arial, sans-serif; font-weight: normal;color: #646464;" >
                                            <p style="margin: 3px 0; padding: 0;">Universidad de Murcia - 9 enero 2017</p>
                                        </td>
                                    </tr>                                                          
                                    <tr >
                                        <td style="padding: 20px 0 0;">
                                            <table style="width: 100%; padding-bottom: 40px;">
                                                <tbody>
                                                    <tr>
                                                        <td width="23%"></td>
                                                        <td width="25%"><a href="#"><img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202011_googlePlay.png" style="width: 100%;"></a></td>
                                                        <td width="4%"></td>
                                                        <td width="25%"><a href="#"><img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202011_googlePlay.png" style="width: 100%;"></a></td>
                                                        <td width="23%"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>                                    
                                </table>                                  
                            </td>
                        </tr>    
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>    
                        <!-- RRSS 7 -->
                        <tr>
                            <td>
                                <table width="100%" id="rrss">
                                    <tbody>
                                        <tr style="text-align:center;">
                                            <td width="32%">
                                                <a href="https://es-es.facebook.com/MiriadaX" target="_blank" style="text-decoration:none; color: white">
                                                    <table width="100%" height="50px" style="background: #3b5998; border-radius: 4px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="12"><img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202010_facebook.png"></td>
                                                                                <td valign="middle" style="color: #fff; font-size: 14px; padding: 8px 0;">Facebook</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </a>
                                            </td>
                                            <td width="2%"></td>
                                            <td width="32%">
                                                <a href="https://twitter.com/miriadax" target="_blank" style="text-decoration:none; color: white">
                                                    <table width="100%" height="50px" style="background: #00aced; border-radius: 4px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="12"><img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202012_twitter.png"></td>
                                                                                <td valign="middle" style="color: #fff; font-size: 14px; padding: 8px 0;">Twitter</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </a>
                                            </td>
                                            <td width="2%"></td>
                                            <td width="32%">
                                                <a href="https://es.linkedin.com/company/mir-ada-x" target="_blank" style="text-decoration:none; color: white">
                                                    <table width="100%" height="50px" style="background: #ea4c89; border-radius: 4px;">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" valign="middle">
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td width="12"><img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202011_linkedin.png"></td>
                                                                                <td valign="middle" style="color: #fff; font-size: 14px; padding: 8px 0;">Linkedin</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr> 
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>     
                        <!-- PARTNERS 8-->
                        <tr>
                            <td>
                                <table width="100%" id="pat" style="background-color: white; vertical-align: bottom;">
                                    <tbody>
                                    <tr style="text-align:center; vertical-align: bottom;"> 
                                        <td width="32%" style="padding: 30px 0;">
                                            <a href="http://www.telefonicaeducaciondigital.com/" target="_blank" style="text-decoration:none;">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202011_telefonicaed.png">
                                            </a>
                                        </td>
                                        <td width="3%"></td>
                                        <td width="32%" style="padding: 30px 0;">
                                            <a href="http://www.santander.com/" target="_blank" style="text-decoration:none;">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202011_santander.png">
                                            </a>
                                        </td>
                                        <td width="1%"></td>
                                        <td width="32%" style="padding: 30px 0;">
                                            <a href="http://www.universia.net/" target="_blank" style="text-decoration:none;">
                                                <img src="http://mailbuild.rookiewebstudio.com/customers/2xLHtu0B/user_upload/20170220202012_universia.png">
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </td>
                        </tr>    
                        <tr><td style="font-size: 0; line-height: 0; padding: 15px 0; margin: 0;"></td></tr>
                        <tr>
                            <td style="padding-bottom: 20px;">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" style="font-size: 12px; padding: 0 5px 0;">
                                            <p style="font-family: Arial, sans-serif; font-size: 12px; color: #4b4b4b">Recibes este correo porque estás registrado en <a href="https://miriadax.net/home" style="color: #00b5cc; text-decoration: none; font-weight: bold;">Miríadax.net.</a> Si quieres dejar de recibir estos correos accede a tu perfil para cambiar la configuración. Gracias.</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center" style="font-size: 12px; padding: 0 45px 20px;">
                                            <p style="font-family: Arial, sans-serif; font-size: 12px; color: #4b4b4b">Você está recebendo este e-mail porque está registrado em <a href="https://miriadax.net/home" style="color: #00b5cc; text-decoration: none; font-weight: bold;">Miríadax.net.</a> Caso queira parar de receber estes e-mails, acesse o  seu perfil para mudar a configuração. Obrigado.
                                                start space height</p>
                                        </td>
                                    </tr>                                    
                                </table>                                
                            </td>
                        </tr>                                                                            
                    </table>             
                </td>   
            </tr>           
        </table>
    </body>
</html>