@font-face {
	font-family: 'Telefonica-Bold';
	src: 	url('./fonts/Telefonica-Bold.ttf');
	src: 	local('Telefonica-Bold')
			url('./fonts/Telefonica-Bold.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Telefonica-Bold.woff') format('woff'),
			url('./fonts/Telefonica-Bold.ttf') format('truetype'),
			url('./fonts/Telefonica-Bold.svg#webfont') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Telefonica-Light';
	src: 	url('./fonts/Telefonica-Light.ttf');
	src: 	local('Telefonica-Light')
			url('./fonts/Telefonica-Light.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Telefonica-Light.woff') format('woff'),
			url('./fonts/Telefonica-Light.ttf') format('truetype'),
			url('./fonts/Telefonica-Light.svg#webfont') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Telefonica-Regular';
	src: 	url('./fonts/Telefonica-Regular.ttf');
	src: 	local('Telefonica-Regular')
			url('./fonts/Telefonica-Regular.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Telefonica-Regular.woff') format('woff'),
			url('./fonts/Telefonica-Regular.ttf') format('truetype'),
			url('./fonts/Telefonica-Regular.svg#webfont') format('svg');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Telefonica-ExtraLight';
	src: 	url('./fonts/Telefonica-ExtraLight.ttf');
	src: 	local('Telefonica-ExtraLight')
			url('./fonts/Telefonica-ExtraLight.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Telefonica-ExtraLight.woff') format('woff'),
			url('./fonts/Telefonica-ExtraLight.ttf') format('truetype'),
			url('./fonts/Telefonica-ExtraLight.svg#webfont') format('svg');
	font-style: normal;
	font-weight: normal;
}

