@import 'fonts.css';

// Variables de color
$bgAzul: #003245;
$azulBoton: #00c6da;
$azul_1: #1b2634;
$azulSelect: #80d4f0;
$gris: #5a5d61;
$gris_2: #2c3e55;
$gris_3: #6b788b;
$gris_4: #f1f1f1;
$gris_5: #3a4352;
$gris_6: #eef1f5;
$gris_7: #f6f8fb;
$gris_8: #cad3df;
$blanco: #ffffff;
$negro: #001219;
$azul_claro: #00c6da;
$azul_cian: #4dc1d4;
$beige: #fbcd80;
$verde_claro: #aee280;
$pink: #f4a0a0;

@mixin transitionCSS($arg) {
	transition: $arg;
	-webkit-transition: $arg;
	-moz-transition: $arg;
	-o-transition: $arg;
	-ms-transition: $arg;
}

